[Unit]
Description=Very Slow Movie Player!
After=multi-user.target
StartLimitBurst=10
StartLimitIntervalSec=10

[Service]
Type=simple
Restart=always
RestartSec=5
User=worgarside
EnvironmentFile=/home/worgarside/very-slow-movie-player/.env
ExecStart=/home/worgarside/very-slow-movie-player/.venv/bin/python /home/worgarside/very-slow-movie-player/very_slow_movie_player/main.py
WorkingDirectory=/home/worgarside/very-slow-movie-player

[Install]
WantedBy=multi-user.target
